$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;

$primary : #3A25FF;
$secondary : #D94A26;
$text : #333333;
$neutral : #BDBDBD;

$label1 : #00D1B2;
$label2 : #3273DC;
$label3 : #FFDD57;

$info-text :#856404 ; 
$info-fill : #FCF8E3;
$info-stroke : #FAF2CC;




