// wrapper

.wrapper{
    background-color: $primary;
    
}

.skillContainer{
    padding-top: 1.5rem;
    padding-bottom : 1rem;
}


.alert-link{
    color : $info-text;
}


// animation

@keyframes backgroundAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


  @keyframes bounce {
    to { transform: scale(1.04); }
  }






