@font-face {
  font-family: "Space Grotesk regular";
  src: url("./assets/font/SpaceGrotesk/SpaceGrotesk-Regular.woff") format('woff');
  font-weight: regular;
  font-style: italic;
}

@font-face {
  font-family: "Space Grotesk light";
  src: url("./assets/font/SpaceGrotesk/SpaceGrotesk-Light.woff") format('woff');
  
}

@font-face {
  font-family: "Space Grotesk bold";
  src: url("./assets/font/SpaceGrotesk/SpaceGrotesk-Bold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "space_monobold";
  src: url("./assets/font/SpaceMono/SpaceMono-Bold-webfont.woff") format('woff');
  font-weight: bold;

}


@font-face {
  font-family: "space_monoregular";
  src: url("./assets/font/SpaceMono/SpaceMono-Regular-webfont.woff") format('woff');         
  font-weight: normal;

}

$base-fontSize : 14px;

  .mainTitle{
    font-family: $font-mono-bold;
    font-size: $font-big;
    font-weight: bold;
    color: $white;
  }

  .subTitle{
    font-family: $font-mono-bold;
    font-size : $font-medium;
    font-weight: bold;
    color : $white;
    text-decoration: underline;
  }


  // TABLE
.table-title{
  font-family: $font-sansserif-bold;
  font-size: 1.7142857143rem; //24px
}


  .table-item{
    font-family: $font-sansserif-bold;
  }

  .table-item-sub{
    font-family: $font-sansserif-light;
    font-style: italic;
  }

  .table-columnTitle{
    font-family: $font-mono-bold;
    font-size : 1rem;
    color : $secondary;
  }

  .table-themeTitle{
    font-family: $font-mono-bold;
    font-size: 1.2857142857rem;//18px
    color: $neutral;
  }