

@font-face {
    font-family: SpaceGrotesk;
    src: url(../../assets/font/SpaceGrotesk-1.1.3/webfont/SpaceGrotesk-Regular.woff);
    font-weight: regular;
  }

  @font-face {
    font-family: SpaceGrotesk;
    src: url(../../assets/font/SpaceGrotesk-1.1.3/webfont/SpaceGrotesk-Bold.woff);
    font-weight: bold;
  }

  .mainTitle{
    font-family: $mono;
    font-size: $font-big;
    font-weight: bold;
    color: $white;
  }

  .subTitle{
    font-family: $mono;
    font-size : $font-medium;
    font-weight: bold;
    color : $white;
  }