

  .mainTitle{
    font-family: $font-mono;
    font-size: $font-big;
    font-weight: bold;
    color: $white;
  }

  .subTitle{
    font-family: $font-mono;
    font-size : $font-medium;
    font-weight: bold;
    color : $white;
  }