// 1. FONTS

@font-face {
    font-family: "Space Grotesk regular";
    src: url("./assets/font/SpaceGrotesk/SpaceGrotesk-Regular.woff2") format('woff2');
    font-weight: regular;
  }

  @font-face {
    font-family: "Space Grotesk bold";
    src: url("./assets/font/SpaceGrotesk/SpaceGrotesk-Bold.woff2") format('woff2');
    font-weight: bold;
  }

  @font-face {
    font-family: "space_monobold";
    src: url("./assets/font/SpaceMono/SpaceMono-Bold-webfont.woff") format('woff');
   
    font-weight: bold;

}


@font-face {
    font-family: space_monoregular;
    src: url("./assets/font/SpaceMono/SpaceMono-Regular-webfont.woff") format('woff');
    
         
    font-weight: normal;

}

 

//font-family
$font-sansserif :" Space Grotesk regular", arial , sans-serif ;
$font-mono : "space_monoregular", monospace;


//size
$font-big : 4.5rem;//72px
$font-medium : 3rem;//48px
