// 1. FONTS


//font-family
$font-sansserif-light : "Space Grotesk light", arial , sans-serif ;
$font-sansserif-regular :"Space Grotesk regular", arial , sans-serif ;
$font-sansserif-bold :"Space Grotesk bold", arial , sans-serif ;
$font-mono-regular : "space_monoregular", monospace;
$font-mono-bold : "space_monobold", monospace;


//size
$font-big : 4.5rem;//72px
$font-medium : 3rem;//48px